In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

spark = SparkSession.builder \
    .master("local") \
    .appName("XZ") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [2]:
df = spark\
        .read\
        .format("csv")\
        .option("header", "true")\
        .option("inferSchema", "true")\
        .load("/FileStore/tables/retail-data/by-day/*.csv")
    
df.printSchema()

In [3]:
df.rdd.getNumPartitions()

In [4]:
df = df.coalesce(5)
df.rdd.getNumPartitions()

In [5]:
df.cache()
df.createOrReplaceTempView("dfTable")

In [6]:
df.show(2, False)

In [7]:
# this is Action
df.count()

In [8]:
# this is Transformation
df.select(count("*")).show()

### WARNING
There are a number of gotchas when it comes to null values and counting. For instance, when
performing a count(*), Spark will count null values (including rows containing all nulls). However,
when counting an individual column, Spark will not count the null values.

In [10]:
df.select(countDistinct("StockCode")).show()

In [11]:
# appriximation is much faster, especially on larger data sets
df.select(approxCountDistinct("StockCode", 0.1)).show()

In [12]:
df.select(first("StockCode"), last("StockCode")).show()

In [13]:
df.select(min("UnitPrice"), max("UnitPrice")).show()

In [14]:
df.select(sum("Quantity"), sumDistinct("Quantity")).show()

In [15]:
df.select(
    count("Quantity").alias("total_transactions"),
    sum("Quantity").alias("total_purchases"),
    avg("Quantity").alias("avg_purchases"),
    expr("mean(Quantity)").alias("mean_purchases"))\
  .show()

In [16]:
df.select(
    count("Quantity").alias("total_transactions"),
    sum("Quantity").alias("total_purchases"),
    avg("Quantity").alias("avg_purchases"),
    expr("mean(Quantity)").alias("mean_purchases"))\
  .selectExpr(
    "total_purchases/total_transactions",
    "avg_purchases",
    "mean_purchases")\
  .show()

In [17]:
df.select(
    var_pop("Quantity"), 
    var_samp("Quantity"),
    stddev_pop("Quantity"),
    stddev_samp("Quantity")).show()

In [18]:
df.select(skewness("Quantity"), kurtosis("Quantity")).show()

In [19]:
df.select(
    corr("UnitPrice", "Quantity"), 
    covar_samp("InvoiceNo", "Quantity"),
    covar_pop("InvoiceNo", "Quantity"))\
.show(1, False)

In [20]:
df.select(collect_set("Country"), collect_list("Country")).show()

In [21]:
df.groupBy("InvoiceNo").count().orderBy(col("count").desc()).show(2)

In [22]:
df\
  .groupBy("InvoiceNo")\
  .agg(
      count("Quantity").alias("quan"),
      expr("count(Quantity)"))\
  .show(2)

In [23]:
df\
  .groupBy("InvoiceNo")\
  .agg(
      {"Quantity": "count"})\
  .show(2)

### Window Functions

In [25]:
xz = spark\
      .range(9)\
      .withColumn("bucket", col("id") % 3)\
      
xz.show()

In [26]:
from pyspark.sql.window import Window

wnd = Window.partitionBy("bucket")

xz\
  .withColumn("max_over_partitioon", max("id").over(wnd))\
  .show()

In [27]:
wnd = Window.partitionBy("bucket").rowsBetween(Window.unboundedPreceding, Window.currentRow)

xz\
  .withColumn("max_over_partitioon", max("id").over(wnd))\
  .show()

In [28]:
from pyspark.sql.window import Window

wnd = Window.partitionBy("bucket").orderBy("id")

xz\
  .withColumn("rank", rank().over(wnd))\
  .show()

In [29]:
# https://www.youtube.com/watch?v=hoOwDUrodhM
from pyspark.sql.window import Window

wnd = Window.partitionBy("bucket").orderBy("id")

xz\
  .withColumn("dense rank", dense_rank().over(wnd))\
  .show()

In [30]:
# https://www.youtube.com/watch?v=hoOwDUrodhM
from pyspark.sql.window import Window

wnd = Window.partitionBy("bucket").orderBy("id")

xz\
  .withColumn("row number", row_number().over(wnd))\
  .show()

In [31]:
from pyspark.sql.window import Window

wnd = Window.partitionBy("bucket").orderBy("id")

xz\
  .withColumn("lead", lead("id").over(wnd))\
  .show()

In [32]:
from pyspark.sql.window import Window

wnd = Window.partitionBy("bucket").orderBy("id")

xz\
  .withColumn("lag", lag("id", 1).over(wnd))\
  .show()

In [33]:
from pyspark.sql.window import Window

wnd = Window\
        .partitionBy("bucket")\
        .orderBy("id")
        # looks like this is the default for sum. for max/min, the default is the whole partition/frame/window
        #.rowsBetween(Window.unboundedPreceding, Window.currentRow)

xz\
  .withColumn("runing id sum", sum("id").over(wnd))\
  .show()

In [34]:
# Rollups

dfWithDate = df.withColumn("date", to_date(col("InvoiceDate"), "MM/d/yyyy H:mm"))
dfWithDate\
    .where("CustomerID = 12347")\
    .select("CustomerID", "*")\
    .show(20, False)

windowSpec = Window\
  .partitionBy("CustomerId", "date")\
  .orderBy(asc("Quantity"))\
  .rowsBetween(Window.unboundedPreceding, Window.currentRow)

maxPurchaseQuantity = max(col("Quantity")).over(windowSpec)
purchaseDenseRank = dense_rank().over(windowSpec)
purchaseRank = rank().over(windowSpec)

dfWithDate.where("CustomerId = 12347").orderBy("CustomerId")\
  .select(
      col("CustomerId"),
      col("date"),
      col("Quantity"),
      purchaseRank.alias("quantityRank"),
      purchaseDenseRank.alias("quantityDenseRank"),
      maxPurchaseQuantity.alias("maxPurchaseQuantity"))\
.show()

In [35]:
dfNoNull = dfWithDate.drop()

rolledUpDF = dfNoNull.rollup("Date", "Country").agg(sum("Quantity"))\
  .selectExpr("Date", "Country", "`sum(Quantity)` as total_quantity")\
  .orderBy("Date", "Country")
rolledUpDF.show()

In [36]:
dfNoNull = dfWithDate.drop()

rolledUpDF = dfNoNull.rollup("Date", "Country", "StockCode").agg(sum("Quantity"))\
  .selectExpr("Date", "Country", "StockCode", "`sum(Quantity)` as total_quantity")\
  .orderBy("Date", "Country")
rolledUpDF.show()

In [37]:
dfNoNull.cube("Date", "Country").agg(sum(col("Quantity")))\
.select("Date", "Country", "sum(Quantity)").orderBy("Date").show()